<!DOCTYPE html>

<head>
    <title>Document</title>
</head>

<body>
    <section>
        <h1>
            <%= card.term%>
        </h1>
        <p>
            <%= card.description%>
        </p>
        <img src="<%= card.image_url%>" alt="not working" width="250px">
        <p>
            <%= card.notes%>
        </p>

        <form action="">
            <button>update</button>
            <button>delete</button>
        </form>
    </section>
</body>

</html>