<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/somewhere" method="post">
        <input type="text" placeholder="user name">
        <select name="lang" id="">
            <option value="eng-gb">english-british</option>
            <option value="eng-us">english-american</option>
            <option value="es">english british</option>
            <option value="lv">english british</option>
            <option value="hi">english british</option>
            <option value="sw">english british</option>
            <option value="ta">english british</option>
            <option value="gu">english british</option>
            <option value="ro">english british</option>
        </select>
    </form>
</body>

</html>